[submodule "modules/openssl"]
	path = modules/openssl
	url = https://github.com/openssl/openssl/
[submodule "modules/tiny-AES-c"]
	path = modules/tiny-AES-c
	url = https://github.com/kokke/tiny-AES-c
[submodule "modules/tiny-cmd"]
	path = modules/tiny-cmd
	url = https://github.com/samiBendou/tiny-cmd
