[submodule "modules/tiny-AES-c"]
	path = modules/tiny-AES-c
	url = https://github.com/kokke/tiny-AES-c
[submodule "modules/tiny-cmd"]
	path = modules/tiny-cmd
	url = https://github.com/samiBendou/tiny-cmd
[submodule "modules/AES"]
	path = modules/AES
	url = https://github.com/dhuertas/AES
